
.form  {
    max-width: 100%;
}
.form__labelText {
    max-width: 100%;
    font-size: 15px;
    color: #080808;
    max-width: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: #deecd9db;
}

.form__legend {
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    background-color: #016549;
    padding: 10px;
    border-radius: 10px;
}


.form__fieldset {
   max-width: 100%;
   margin: auto;
  
}

.form__button {
    margin: 0 auto;
    width: 50%;
    height: 50px;
    margin: 5px;
    color: #000000;
    background-color: #f1edf1d9;
    ;
}


.form__button:hover {
    background-color: #cbcaca;
    color: #000000;
    border: solid #3c3b3b;
    cursor: pointer;

}

.form__input {
    width: 40%;
    border-radius: 15px;
    background-color: #deecd9db;
    margin: 20px auto;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-currencyResult {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
}

.form__required {
    color:#000000;
    border-radius: 15px;
    background-color: #deecd9db;
    padding: 10px;
}